/.DS_Store

/LawnCare/apple/ezmow/.DS_Store
/LawnCare/apple/.DS_Store
/LawnCare/apple/ezmow/ezmow.xcodeproj/xcuserdata/ryanmoore.xcuserdatad/xcdebugger
/LawnCare/apple/ezmow/ezmow.xcodeproj/project.xcworkspace/xcuserdata/*
